/*

    This is a comment.

    selector {
        property: value;
        property2: value2;
    }

    0.83 is the minimum margin allowed for edges!

*/

body {
    font-family: Roboto, sans-serif;
    font-size: 1.5rem;
    margin: 0.83rem;
}

h1 {
    font-size: 5rem;
    font-style: bold;
    margin-bottom: 0.5rem;
}

h2{
    font-size: 3rem;
    font-size: bold;
    margin-bottom: 0.25rem;
}

h3{
    font-size: 1.8rem;
    font-style: italic;
    margin-bottom: 0.25rem;
    max-width: 20rem;
}

p, ul, ol {
    max-width: 20rem;
}

img{
    margin-top: 2rem;
    max-width: 100%;
    height: auto;
}