*{
    box-sizing: border-box;
}

.grid{
    display: grid;
}

.grid.add-gutters{
    grid-column-gap: 1rem;
}

/* 36.25rem 2 columns*/
@media(min-width: 36.25rem){    
    .grid.two-column{
        grid-template-columns: 1fr 1fr;
    }
}

/* 3 columns*/
@media(min-width: 60rem){    
    .grid.three-column{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* 5 columns not going into 5 for some reason fix this later*/
@media(min-width: 75rem){    
    .grid.five-column{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        padding-left: 5rem;
        padding-right: 5rem;
    }
}
