*{
    box-sizing: border-box;
}

/*Additional grid resources from Dev Dreamer @ https://www.youtube.com/watch?v=RhUuMl3R1PE&ab_channel=DevDreamer */

.item{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(75, 75, 75);
    text-align: center;
    border-radius: 8px;
    background-color: rgb(255, 182, 45);
    font-weight: bold;

    /* cursor: pointer; use this for links and buttons!!*/
}


#container{
    width: 100%;
    height: auto;
    background-color: whitesmoke;
    outline: 8px solid #4834D4;
    display: grid;

    grid-template-columns: 
            [col-start] 1fr
            [col-2]     1fr
            [col-3]     1fr
            [col-end]   ;
    
    grid-auto-rows: 15rem 50px auto 100px;
    grid-template-areas: 
            "header header header"
            "navbar navbar navbar"
            "main main sidebar"
            "footer footer footer";
}

.header{
    background-color:rgb(255, 182, 45);
    grid-area: header;
}

.navbar{
    background-color: teal;
    grid-area: navbar;
}

.main{
    background-color:steelblue;
    grid-area: main;

}
.sidebar{
    background-color:sienna;
    grid-area: sidebar;

}
.footer{
    background-color:yellowgreen;
    grid-area: footer;

}






/* .grid{
    display: grid;
}

.grid.add-gutters{
    grid-column-gap: 1rem;
}

@media(min-width: 36.25rem){    
    .grid.two-column{
        grid-template-columns: 1fr 1fr;
    }
}

@media(min-width: 60rem){    
    .grid.three-column{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media(min-width: 75rem){    
    .grid.five-column{
        grid-template-columns: repeat(5, 1fr);
    
    }
} */
