.showcase-mid{
  margin-bottom: 1rem;
}

.boxes{
    margin-bottom: 1rem;
}

.route_maps{
    grid-gap: 10px;
    grid-auto-columns: 1fr 1fr;
}


/* Background Images Inside Of .info */

/* Home Page */
.benefits{
    background-image: url(../greg_img/img/Extra_Images/TNMFamilyCouchMeeting_feature.jpg);
}
.focus{
    background-image: url(../greg_img/img/Extra_Images/kids_walk_to_school.jpg);
}


/* Route Maps Page
Images via google street view and school websites */
.seymour {
    background-image: url(../greg_img/img/Schools/admiral_seymour.jpeg);
}
.franklin{
    background-image: url(../greg_img/img/Schools/sir_john_franklin.jpg);
}
.tecumseh{
    width: 2fr;
    background-image: url(../greg_img/img/Schools/tecumseh.jpg);
    
}
.fraser{
    background-image: url(../greg_img/img/Schools/simon_fraser.png);
}
.tillicum{
    background-image: url(../greg_img/img/Schools/tillicum_annex.jpg);
}





